
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
    <li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>
    <li>@Html.ActionLink("Delete Role", "DeleteRole", "Admin")</li>
</ul>
