
@{
    ViewBag.Title = "Create";

    var imageURL = "/Content/images/system/camera.jpg";
}

<h2>Creer categorie</h2>

<form id="createCategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nom <span class="text-danger">*</span></label>
                <input class="form-control" name="Type" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="type_produitImage" src="@imageURL" />
            </div>
        </div>
    </div>

    <button id="saveBtn" type="button" class="btn btn-primary">Enregistrer</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Annuler</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                debugger;
                console.log(response);

                if (response.Success)
                {
                    $("#ImageURL").val(response.ImageURL);
                    $("#type_produitImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
   
    $("#saveBtn").click(function () {
        
			$.ajax({
				type: 'POST',
				 url: '/Type_Produit/Create',
				data: $("#createCategory").serialize()
			})
			.done(function (response) {
				$("#tableContainer").html(response);
				$("#actionContainer").html("");
				focusAction("tableContainer");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
				
			});
		
		
	});
	$("#cancelBtn").click(function () {
		$("#actionContainer").html("");
		focusAction("tableContainer");
	});
</script>