
@{
    ViewBag.Title = "Create";
}

<h2>Creer type de produit</h2>

<form method="post">
    <label>Type</label>
    <input name="Type" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <button type="submit">Ajouter</button>
</form>