@using BierBuyFR.Web.ViewModel
@model NewProduitsViewModels
@{
    ViewBag.Title = "Create";
}


<h2>Ajouter un produit</h2>

<form id="createProduit">
    <div class="form-group">
        <label>Type</label>
        <select class="form-control" name="Type_ProduitID">
            @foreach (var type_produit in Model.type_produit)
            {
                <option value="@type_produit.Type_ProduitID">@type_produit.Type</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Nom</label>
        <input class="form-control" name="Nom" />

    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="form-group">
        <label>Prix</label>
        <input class="form-control" name="Prix" />
    </div>
    
    <button id="saveBtn" type="button" class="btn btn-primary">Ajouter</button>
</form>



<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Produit/Create',
            data: $("#createProduit").serialize()

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
</script>