
@{
    ViewBag.Title = "Create";
}


<h2>Ajouter un produit</h2>

<form id="createProduit">
    <label>Nom</label>
    <input name="Nom" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <label>Prix</label>
    <input name="Prix" />

    <br />

    <button id="saveBtn" type="button">Ajouter</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Produit/Create',
            data: $("#createProduit").serialize()

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
</script>