
@{
    ViewBag.Title = "Create";
}


<h2>Ajouter un produit</h2>

<form method="post">
    <label>Nom</label>
    <input name="Nom" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <label>Prix</label>
    <input name="Prix" />

    <br />

    <button type="submit">Ajouter</button>
</form>
