@using BierBuyFR.Entitie
@model List<Produit>
@{
    ViewBag.Title = "ProduitTable";
}

<div>
    <form method="post" >
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn"> Rechercher</button>
    </form>
    <button type="button" id="addBtn"> Nouveau </button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>Nom du Produit </td>
                <td> Categorie </td>
                <td> Prix </td>
                <td> Actions </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in Model)
            {
                <tr>
                    <td>@produit.Nom</td>
                    <td>-</td>
                    <td>@produit.Prix</td>
                    <td>
                        <button class="editBtn" data-id="@produit.ProduitID" >Modifier</button>
                        <button class="deleteBtn" data-id="@produit.ProduitID">Supprimer</button>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>
<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            
            url: '/Produit/ProduitTable',
            data: {
                search : searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
    $("#addBtn").click(function () {
        $.ajax({

            url: '/Produit/Create',
          
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });

    $(".editBtn").click(function () {
        $.ajax({

            url: '/Produit/Edit',
            data: {
                ID: $(this).attr('data-id')
            }

        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });

    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Etes vous sur de vouloir supprimer cet article?")

        if (confirmDelete ) {
            $.ajax({
                type: 'POST',
                url: '/Produit/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("ECHEC");
                });
        }
       
    });
</script>
